<br><br>
<div class="container-fluid" ng-init="vm.init()">
  <form name="extractForm">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class = "panel panel-primary">
            <div class = "panel-heading">
                <h3 class = "panel-title">Extract Data by</h3>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Rec Count:&nbsp;
                        <input type="text" ng-model="vm.recordCount" placeholder="Extract Count" ng-required="true"/>
                    </label>
                </div>
                <div class="panel-body">
                    <label>Select User:
                    <select ng-model="vm.selectedUser">
                        <option ng-repeat="user in vm.userList">{{user.loginName}}</option>
                    </select> 
                    </label>
                </div>
                
                <div class="panel-body">
                    <label>Date From:
                    <datepicker date-format="MM/dd/yyyy">                       
                        <input type="text" ng-model="vm.startDate" placeholder="MM/dd/yyyy" />                        
                        
                        &nbsp;
                        
                        </datepicker>
                    </label>
                    <label>To:
                    <datepicker date-format="MM/dd/yyyy">                        
                        <input type="text" ng-model="vm.endDate" placeholder="MM/dd/yyyy"/>
                        &nbsp;
                        
                    </datepicker>
                    </label>     
                </div>
                
            </div>
        </div>
    
        <div class = "panel panel-primary">
            <div class = "panel-heading">
                <h3 class = "panel-title">Workspace Items</h3>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered table-responsive table-hover xtable  ">
                        <tbody ng-repeat="item in vm.itemList">
                            <tr class="main-row" ng-click="vm.toggleDetail($index)">
                                <td><i class="glyphicon glyphicon-plus" ng-click="vm.getItemDetails(item)"></i> {{item.name}}</td>
                            </tr>
                            <tr class="extra-row" ng-show="vm.activePosition === $index">
                                <td>
                                    <div ng-repeat="i in vm.itemSubList" class="checkbox-primary">
                                        <div>
                                            <label class="control-label" >
                                                <input type="checkbox" ng-model="i.value" ng-change="vm.drag(i)" ng-disabled="i.value" id="ch1"/>
                                                {{ i.name | uppercase}}
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class = "panel panel-primary">
            <div class = "panel-heading">
                <h3 class = "panel-title">Selected Items</h3>
            </div>
            <div class="panel panel-default">
                <div class="panel-body xtable">
                    <table class="table table-bordered table-responsive table-hover xtable  ">
                        <tbody ng-repeat="item in vm.selectedSchema.selectedItems">
                            <tr class="main-row">
                                <td><i class="glyphicon glyphicon-trash" ng-click="vm.deleteSeletedItemGroup($index)"></i> {{item.itemName}}</td>
                            </tr>
                            <tr class="extra-row">
                                <td>
                                    <div ng-repeat="i in item.itemList" class="checkbox-primary">
                                        <div>
                                            <label class="control-label" for="ch2">
                                                <!--input type="checkbox" ng-model="i.value" ng-change="vm.drag(i)" ng-disabled="i.value"/>
                                                {{ i.name | uppercase}}</label-->
                                                <input type="checkbox" ng-model="i.value" ng-change="vm.drop($index, item.itemName, i)" id="ch2"/>
                                                {{ i.name | uppercase}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       

            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Extract option</h3>
                    </div>

                    <div class="form-inline">
                        <label class="control-label">
                            Extract Type: &nbsp;&nbsp;</label>
                        <label class="radio-inline">
                            <input value="excel" type="radio" ng-model="vm.extracttype" checked="checked">Excel
                        </label>
                        <label class="radio-inline">
                            <input value="csv" type="radio"  ng-model="vm.extracttype">CSV
                        </label>
                        <label class="radio-inline">
                            <input value="txt" type="radio" ng-model="vm.extracttype">TXT
                        </label>
                        <label class="radio-inline">
                            <input value="pdf" type="radio" ng-model="vm.extracttype">PDF
                        </label>
                    </div>
                    <br/>
                    <div class="form-group col-centered">   
                        &nbsp;<input type="button" value="Extract"
                                     class="btn btn-primary" ng-click="vm.generateExtract()"
                                     />
                    </div>

                </div>
            </div>
        
    </div>
    </form>
</div>
