<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3> {{vm.title}} </h3>
        </div>
        <div class="panel-body">
            <div id="exTab1">	
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="1a">
                        <div class="container-fluid" ng-init="vm.init()">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
                                <div class = "panel panel-primary">
                                    <div class = "panel-heading">
                                        <h3 class = "panel-title">Workspaces</h3>
                                    </div>
                                    <center>
                                        <div class = "panel-body">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <select id="selectWS" name="selectWS" class="form-control bg-info" 
                                                            ng-if="vm.wfResponse.elements.length > 1"
                                                            ng-model="vm.selectedWorkspaceId" 
                                                            ng-options=" m.id as m.id +     ' - ' +    m.displayName for m in vm.wfResponse.elements" required>
                                                        <option class="text-muted text-capitalize" value='' disabled selected>SELECT WORKSPACE</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6 col-lg-6 col-sm-6 col-md-offset-3 col-lg-offset-3">
                                                <button type="button" class="btn btn-primary" ng-click="vm.sumbitAction()">Submit</button>
                                            </div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class = "panel panel-primary">
                                    <div class = "panel-heading">
                                        <h3 class = "panel-title">Workspace Items</h3>
                                    </div>

                                    <div class="panel-body">
                                        <table id="no-more-tables" class="table table-bordered xtable">
                                            <thead>
                                                <tr>
                                                    <th class="text-capitalize text-center text-primary">ID</th>
                                                    <th class="text-capitalize text-center text-primary">Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in vm.itemList.elements| pagination: vm.curPage * vm.pageSize | limitTo: vm.pageSize">
                                                    <td data-title="ID">
                                                        <div class="dropdown">
                                                            <a href="#/itemDetails?itemId={{item.id}}" >{{ item.id }} <b class="caret"></b></a>
<!--                                                            <ul class="dropdown-menu">
                                                                <li><a href="#/itemDetails?itemId={{item.id}}">Export</a></li>
                                                                <li><a href="#">Another action</a></li>
                                                                <li><a href="#">Another action</a></li>
                                                                <li><a href="#">Another action</a></li>
                                                                <li><a href="#">Another action</a></li>
                                                            </ul>-->
                                                        </div>
                                                    </td>
                                                    <td data-title="Description" class="text-left">{{ item.itemDescriptor}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            <div class="pagination pagination-centered" ng-show="vm.itemList.elements.length">
                                                <ul class="pagination-controle pagination">
                                                    <li>
                                                        <button type="button" class="btn btn-primary" ng-disabled="vm.curPage === 0"
                                                                ng-click="vm.curPage = vm.curPage - 1"> &lt; PREV</button>
                                                    </li>
                                                    <li>
                                                        <span>Page {{vm.curPage + 1}} of {{ vm.numberOfPages}}</span>
                                                    </li>
                                                    <li>
                                                        <button type="button" class="btn btn-primary"
                                                                ng-disabled="vm.curPage >= vm.itemList.elements.length / vm.pageSize - 1"
                                                                ng-click="vm.curPage = vm.curPage + 1">NEXT &gt;</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>