<br>
<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="col-lg-3">
                <div class="nav-side-menu">
                    <div class="brand">Menu</div>
                    <div id="MainMenu">
                        <div class="list-group">
                            <a href="/#data" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#MainMenu">Data Extraction</a>
                            <div class="collapse in" id="data">
                                <a href="/#newdata" class="list-group-item" data-toggle="collapse" ng-class="vm.newdata"
                                   ng-click="vm.itemClicked('newdata', 'Data Extraction - New')"> New</a>
                                <a href="/#existingdata" class="list-group-item" ng-class="vm.existingdata" data-toggle="collapse"
                                   ng-click="vm.itemClicked('existingdata', 'Data Extraction - Update')">Existing</a>
                            </div>
                            <a href="/#updateRecord" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#MainMenu">Update Record</a>
                            <div class="collapse" id="updateRecord">
                                <a href="/#newupdate" class="list-group-item" ng-class="newupdate" data-toggle="collapse"
                                   ng-click="vm.itemClicked('newupdate', 'Update Record - New')" >New</a>
                                <a href="/#existingupdate" class="list-group-item" ng-class="existingupdate" data-toggle="collapse"
                                   ng-click="vm.itemClicked('existingupdate', 'Update Record - Existing')">Existing</a>
                            </div>
                            <a href="/#newRecord" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#MainMenu">New Record</a>
                            <div class="collapse" id="newRecord">
                                <a href="/#new2Record" class="list-group-item" ng-class="new2Record" data-toggle="collapse"
                                   ng-click="vm.itemClicked('new2Record', 'New Record - New')">New</a>
                                <a href="/#existingNewRecord" class="list-group-item" ng-class="existingNewRecord" data-toggle="collapse"
                                   ng-click="vm.itemClicked('existingNewRecord', 'New Record - Update')">Existing</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
           
            <div class="col-lg-9  page-content-wrapper" ng-show="vm.newdata">
                <div ng-include="'app/components/home/export.html'" ng-if="vm.newdata"></div>
            </div>
            <div class="col-lg-9  page-content-wrapper"  ng-show="vm.existingdata">
                <div>Existing data</div>
            </div>
            <div class="col-lg-9  page-content-wrapper"  ng-show="vm.newupdate">
                <div>Update New Record....</div>
            </div>
            <div class="col-lg-9 page-content-wrapper" ng-show="vm.existingupdate">
                <div>Existing update data</div>
            </div>
            <div class="col-lg-9 page-content-wrapper"  ng-show="vm.new2Record">
                <div>New - New data</div>
            </div>
            <div class="col-lg-9 page-content-wrapper"  ng-show="vm.existingNewRecord">
                <div>Existing New Record</div>
            </div>
        </div>
    </div>
</div>  