
<div class="container-fluid custom-container">
    <br>
    <div class="col-lg-4 col-lg-offset-8">
        <div class="panel-yellow">
            <form name="loginForm" class="form-default" role="form" novalidate>
                <div class="panel-heading text-center">
                    <h5 style="font-family: cursive; font-size: 24px;"> Login to your account!  </h5>
                </div>
                <div class="panel panel-body">
                    <div class="form-box">
                        <div class="form-bottom">

                            <div class="form-group ">
                                <label class="control-label">Email address</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>   
                                    <input class="form-control" type="text" placeholder="Email address" ng-model="vm.loginForm.emailAddress">
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="control-label">Password</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                                    <input class="form-control" type="password" placeholder="Password" ng-model="vm.loginForm.password">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="control-label">Access Key</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                                    <input class="form-control" type="text" placeholder="Access Key" ng-model="vm.loginForm.accessKey">
                                </div>
                            </div>
                            <div class="form-cta">
                                <button class="btn btn-primary btn-block btn-lg" ng-click="vm.loginAction()">Sign in</button>
                            </div>
                            <br>    <br>  
                            <div class="form-group">
                                <a href="#forgotUsername" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" ng-click="vm.forgotUserIDAction()">Forgot Username?</a>
                                <div class="hidden-lg hidden-md col-sm-12 col-xs-12">&nbsp;</div>
                                <a href="#forgotPassword" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" ng-click="vm.forgotPasswordAction()">Forgot Password?</a>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
                                <button type="button" class="btn btn-secondary btn-block" ng-click="vm.registerAction()"><span class="text-muted">New User?</span> <strong class="text-uppercase">Register</strong></button>
                            </div>
                        </div>    
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="alert alert-danger col-lg-4 col-lg-offset-8" ng-if="vm.message">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{vm.message}}
    </div>
</div>