<br><br>
<div class="container-fluid custom-container-home">
    <br>

    <div class="col-lg-4 col-lg-offset-4" style="padding-top: 0px">

        <div class="panel panel-green">
            <div class="panel-heading">
                <h5 style="font-family: cursive; font-size: 24px;"> Verify Subscription!  </h5>
            </div>
            <div class="panel-body">
                <form name="loginForm" class="form-horizontal" novalidate>
                    <div class="form-group">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                            <input class="form-control" type="text" placeholder="Tenant Name" ng-model="vm.loginForm.tenantName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
                            <input class="form-control" type="text" placeholder="Email address" ng-model="vm.loginForm.userID">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                            <input class="form-control" type="password" placeholder="Password" ng-model="vm.loginForm.password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="button" value="Verify"
                                   class="btn btn-primary btn-block btn-lg" ng-click="vm.loginAction()"
                                   ng-disabled="loginForm.$invalid"/>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="alert alert-danger col-lg-4 col-lg-offset-4" ng-if="vm.message">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{vm.message}}
    </div>
</div>