a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover,
a:active {
    outline: 0;
}

button,
input {
    *overflow: visible;
    line-height: normal;
}

body {
    color: black;
    background-color: white;
    padding-top:0px;
}

.custom-container{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
}

.footer {
    padding-top: 0px;
    clear: both;
    position: relative;
    z-index: 10;
    height: 1em;
    margin-top: 3em;
}

.page-smart .navbar {
    border-top: 5px solid #ff821f;
}

a {
    color: #1a90bc;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #115d79;
    text-decoration: underline;
}

body {
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.231;
}
a {
    color: #16a085;
    text-decoration: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}
a:hover {
    color: #1abc9c;
    text-decoration: none;
}


@font-face {
    font-family: 'MR-Icons';
    src: url('fonts/MR-Icons.eot');
    src: url('fonts/MR-Icons.eot?#iefix') format('embedded-opentype'), url('fonts/MR-Icons.woff') format('woff'), url('fonts/MR-Icons.ttf') format('truetype'), url('fonts/MR-Icons.svg#MR-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}



.copyright {
    margin-top: 30px;
    border-top: 4px solid;
    padding-top: 10px;
    text-align: center;
    color: black;
}


hr {
    margin: 75px 0;
    border: 0;
    border-top: 12px solid #eeeeee;
    border-bottom: 1px solid #fff;
}

.custom-container-plain {
    padding-top: 20px;
    background: #34495e;
}


