<div class="container">
    
    <h2 class="text-primary">What happened?</h2>
    <hr>
    <div class="col-lg-12" style="min-height: 200px;">
        <h4 class="text-info"><span class="text-warning"><span class="glyphicon glyphicon-thumbs-down"></span></span>  We are experiencing technical difficulties.  Please try again later, or for immediate assistance call us at <a class="text-danger form-control-static" href="tel:+{{ vm.customerAssistanceContact.mainPhone }}">{{ vm.customerAssistanceContact.mainPhone | tel }}</a>.</h4>
        <br>
        <form name="form" class="form-default" role="form" novalidate>
        <section ng-if="true">

            <div class="col-sm-6" id="exceptionDetails">
                <div class="form-group-sm">
                    <label class="control-label">Exception ID</label>
                    <div class="form-control-static">{{vm.errorResponse.data.exceptionId}}</div>
                </div>
                <div class="form-group-sm">
                    <label class="control-label">Response Code</label>
                    <div class="form-control-static">{{vm.errorResponse.data.responseCode}}</div>
                </div>
                <div class="form-group-sm">
                    <label class="control-label">Message Detail</label>
                    <div class="form-control-static">{{vm.errorResponse.data.detailMessage}}</div>
                </div>
            </div>
        </section>
        <section ng-if="vm.host==='localhost' || vm.host==='dss-tgjah' || vm.host==='epmdwls5.tgslc.org'">
            <div class="col-sm-6 form-group" id="responseDetails">
                <label class="control-label">Response Details</label>
                <div class="form-control-static">{{vm.errorResponse.status}}</div>
                <div class="form-control-static">{{vm.errorResponse.statusText}}</div>
                <div class="form-control-static">{{vm.errorResponse.config.method}}</div>
                <div class="form-control-static">{{vm.host}}</div>
                <div class="form-control-static">{{vm.errorResponse.config.url}}</div>
                <div class="form-control-static">{{vm.errorResponse.config.data.pretty}}</div>
            </div>
        </section>
        </form>
    </div>

</div>
