<div class="container">
    
    <h2 class="text-primary">Expired Session</h2>
    <hr class="col-lg-12">
    
    <div class="col-lg-12" style="min-height: 200px;">
        <br>
        <h4 class="text-center text-info"><span class="text-warning"><span class="glyphicon glyphicon-lock"></span></span>  Your session has timed out.</h4>
        <h4 class="text-center text-info">You must log in again to access your account information.</h4>
    </div>
    <hr class="col-lg-12">
    <div class="col-lg-12">
        <button type="button" class="btn btn-lg btn-primary col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-click="vm.loginAction()">Return to LOGIN</button>
        <mypoint-shared-spinner class="loading-dialog loading-dialog-animate"></mypoint-shared-spinner>
    </div>
    
</div>
