<div class="container">
    
    <h2 class="text-primary">Access Denied</h2>
    <hr class="col-lg-12">
    <div class="col-lg-12" style="min-height: 200px;">
        <h4 class=" text-center text-info"><span class="text-warning"><span class="glyphicon glyphicon-lock"></span></span>  Account access is denied.  For assistance, <a href="#contactUs"><strong>Contact Us</strong></a>.</h4>
    </div>
    <hr class="col-lg-12">
    
</div>
