<div class="container">
    
    <h2 class="text-primary">Unauthorized</h2>
    <hr class="col-lg-12">
    <div class="col-lg-12" style="min-height: 200px;">
        <h4 class="text-center text-info"><span class="text-warning"><span class="glyphicon glyphicon-lock"></span></span>  Account access is denied.</h4>
        <h4 class="text-center text-info">Try logging in again to access your account information.  For assistance, <a href="#contactUs"><strong>Contact Us</strong></a>.</h4>
    </div>
    <hr class="col-lg-12">
    <div class="col-lg-12">
        <button type="button" class="btn btn-lg btn-primary col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-click="vm.loginAction()">Return to LOGIN</button>
        <mypoint-shared-spinner class="loading-dialog loading-dialog-animate"></mypoint-shared-spinner>
    </div>

</div>
