<div class="container">
    
    <h2 class="text-primary">System Unavailable</h2>
    <hr class="col-lg-12">
    <div class="col-lg-12" style="min-height: 200px;">
        <h4 class="text-center text-info">The system is unavailable.  Try again later.</h4>
    </div>

</div>
